page-item-detail {
  .item-profile {
    background: linear-gradient(180deg, #c5cbff, #58bdfe);
    width: 100%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 250px;
  }

  .item-detail {
    width: 100%;
    background: white;
    position: absolute;
  }
  button.add-current-item {
    padding: 20px;

    i.icon.add-manually {
      display: inline-block;
      height: 24px;
      width: 24px;
      margin-right: 14px;
      background-image: url('../assets/img/add-intake.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

}
