page-info ion-content {
  background: linear-gradient(180deg, #c5cbff, #58bdfe);
  background-size: 120% 120%;
  -webkit-animation: AnimationName 20s ease infinite;
  -moz-animation: AnimationName 20s ease infinite;
  -o-animation: AnimationName 20s ease infinite;
  animation: AnimationName 20s ease infinite;
  @-webkit-keyframes AnimationName {
      0%{background-position:13% 0%}
      50%{background-position:88% 100%}
      100%{background-position:13% 0%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:13% 0%}
      50%{background-position:88% 100%}
      100%{background-position:13% 0%}
  }
  @-o-keyframes AnimationName {
      0%{background-position:13% 0%}
      50%{background-position:88% 100%}
      100%{background-position:13% 0%}
  }
  @keyframes AnimationName {
      0%{background-position:13% 0%}
      50%{background-position:88% 100%}
      100%{background-position:13% 0%}
  }

  div, h1, h2, h3, h4, h5, p, span {
    color: #fff;
  }

  .grid.no-padding, ion-row.no-padding, ion-col.no-padding {
    padding:0;
  }

  .app-title {
    color: #fff;
    margin-top: 100px;
    font-size: 4rem;
    font-weight: 700;
  }

  .select-gender {
    button.male {
      height: 100px;
      width: 100px;
      border-radius: 50%;
      background-color: rgba(255,255,255,0.6);
      &[value="m"],
      &.selected {
        background-color:rgb(61,148,202);
      }
    }
    button.female {
      height: 100px;
      width: 100px;
      border-radius: 50%;
      background-color: rgba(255,255,255,0.6);

      &[value="f"],
      &.selected {
        background-color:rgb(208,121,153);
      }
    }
  }

  .input-group > :first-child {
    margin-top: 20px;
    border-top: 1px #fff solid;
  }

  ion-item.sanssugar-input {
    background-color: rgba(255,255,255, 0.2);

    &.item-datetime ion-label,
    &.item-input ion-label {
      color: #fff;
    }

    .datetime-placeholder {
        color: #eee;
      }

    input {
      text-align: right;
      color: #fff;

      &::placeholder {
        color: #eee;
      }
    }
  }

}