page-chart ion-content {
  background: linear-gradient(180deg, #c5cbff, #58bdfe);
  background-size: 150% 150%;
  -webkit-animation: AnimationName 20s ease infinite;
  -moz-animation: AnimationName 20s ease infinite;
  -o-animation: AnimationName 20s ease infinite;
  animation: AnimationName 20s ease infinite;
  @-webkit-keyframes AnimationName {
      0%{background-position:13% 0%}
      50%{background-position:88% 100%}
      100%{background-position:13% 0%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:13% 0%}
      50%{background-position:88% 100%}
      100%{background-position:13% 0%}
  }
  @-o-keyframes AnimationName {
      0%{background-position:13% 0%}
      50%{background-position:88% 100%}
      100%{background-position:13% 0%}
  }
  @keyframes AnimationName {
      0%{background-position:13% 0%}
      50%{background-position:88% 100%}
      100%{background-position:13% 0%}
  }
}

.ios, .md {
  page-chart {
    .scroll-content {
      /*background-color: map-get($colors, light);*/
    }
 
    ion-card-header {
      font-weight: bold;
    }
  }
 
}