page-search {
  .add-button {
    background-color: rgb(84,186,252);
    font-size: 1.3em;
    letter-spacing: 2px;
    height: 4em;

    &:hover {
      background-color: rgb(50,146,210);
    }
  }
}
