<ion-header>

  <ion-navbar>
    <ion-title>{{ 'History' | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addTracking()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-item-group *ngFor="let group of groupedSummaries">
  <ion-item-divider light>{{group.month}}</ion-item-divider>
    <ion-item-sliding *ngFor="let summary of group.summaries" class="history-item stage-{{summary.stage}}">
        <button ion-item (click)="showDetail(summary)">
          <ion-thumbnail item-start>
            <img src="assets/img/history-level{{summary.stage}}.png">
          </ion-thumbnail>
          <div class="content-container">
            <h2>{{summary.dateString}}</h2>
            <p>Sugar taken</p>
            <h1>{{summary.sugar}} g</h1>
          </div>
          <!-- <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note> -->
        </button>
  
    </ion-item-sliding>
  </ion-item-group>
</ion-content>